:root {
    --cor-de-fundo: #E0F9E9;
    --cor-de-texto: #ffffff;
    --principais: #1C6434;
}

#{
    margin: 0%;
    padding: 0%;
}

header{ 
    background-color: var(--principais);
    display:flex;
}

section {
    display: flex;
    background-color: var(--cor-de-fundo);
    color: var(--principais);
    margin: 10px 0;
    padding: 10px 20px;
    width: 5%;
}

div{
    padding: 30px;
}

